.errormsg {
    color:red;
}

button {
    border-radius: 5px;
    background-color: grey;
}

.pagespeedinfo, .robotsinfo, .pagestats, .integrationsinfo, .metainfo{
    background-color: #eee;
    padding: 20px 20px 0 50px;
    margin: 0 auto;
    text-align: justify;
}

.paths-table, .paths-table th, .paths-table td {
    border: 1px solid black;
}

.paths-table th {
    background-color: aliceblue;
}

.urlinput{
    max-width:150rem;
}

.previewframe {
    height:800px;
    width:1200px;
}

.infotext {
    color: green;
}

* {
    font-size: 16px;
}

p.info {
    color: maroon;
}

.pagestats > .sitemapcount {
    font-size: 24px;
    color: blue;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 0;
}

.accordion::after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active::after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
  
h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}
